<!DOCTYPE HTML>
<html>
<head>
	<title>FarmRight</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" />
	</noscript>
	<link rel="icon" type="image" href="{{ url_for('static', filename='images/favicon.png') }}">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Scripts -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/location.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/scrolling.js') }}"></script>

	<!-- CHATBOT -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.convform.css') }}"></link>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.convform.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/chatbot_custom.js') }}"></script>
</head>

<body class="is-preload">

	<!-- Reference Chatbot
		<div class="chatbot_icon">
			<img id="icon" src="{{ url_for('static', filename='images/chatbot.png') }}"></img>
		</div>

		<div class="chatbot_box">
			<div class="conv-form-wrapper">
				<form action="" method="GET" class="hidden">		
					<select name="programmer" data-conv-question="So, are you a programmer? (this question will fork the conversation based on your answer)">
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
					<div data-conv-fork="programmer">
						<div data-conv-case="yes">
							<input type="text" data-conv-question="A fellow programmer! Cool." data-no-answer="true">
						</div>
						<div data-conv-case="no">
							<select name="thought" data-conv-question="Have you ever thought about learning? Programming is fun!">
								<option value="yes">Yes</option>
								<option value="no">No..</option>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	 Reference Chatbot	end  -->


		<!-- Working Chatbot	-->
		<a class="open-button" onclick="openForm()"><img id="icon" src="{{ url_for('static', filename='images/chatbot.png') }}"></img></a>
		<div class="chat-popup" id="myForm">
			<main class="msger-chat">
				<div class="msg left-msg">
				  <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>
				  <div class="msg-bubble">
					<div class="msg-info">
					  <div class="msg-info-name">Chatbot</div>
					  <div class="msg-info-time">12:45</div>
					</div>
					<div class="msg-text">
					  Hi, welcome to ChatBot! Go ahead and send me a message. 😄
					</div>
				  </div>
				</div>
			  </main>
			  <form class="msger-inputarea">
				<input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
				<button type="submit" class="msger-send-btn">Send</button>
			  </form>
		  </div>
		<!-- working chatbot end -->

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<header id="header">
			<div class="logo">
				<img class="logo" src="{{ url_for('static', filename='images/favicon.png') }}" alt="Know&Grow_Logo"
					width="100px" height="100px">
				<!-- <span class="icon fa-gem"></span> -->
			</div>
			<div class="content">
				<div class="inner">
					<h1 style="color: #310e08;">FARM RIGHT</h1>
					<p>We recommend Best Crops for <b>YOU.</b><br>
						We consider all factors YOUR crop needs. <br>
						Let's GROW together.</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="{{ url_for('.home', _anchor='predict') }}">Let's Grow!</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">
			<!-- predict -->
			<article id="predict">
				<h2 class="major">Prediction Form</h2>
				<span class="image main"><img src="{{ url_for('static', filename='images/TOOL.png') }}" alt="" /></span>
				
				<!-- Form -->
				<section>
					<div class="content">
						<form class="predict-form" method="POST" action="{{ url_for('crop_prediction') }}" name="predictionform">
							<header>
								<h3 class="inputcategory">Location</h3>
							</header>
							<div class="fields">
								<div class="field half">
									<label for="state">State</label>
									<select onchange="print_city('district', this.selectedIndex);" name="state"
										id="state" required></select>
								</div>
								<div class="field half">
									<label for="district">District</label>
									<select name="district" id="district" required>
										<script language="javascript"> print_state("state");</script>
									</select>
								</div>
							</div>
							<hr class="hr hr-1">
							<header>
								<h3 class="inputcategory">Season Months</h3>
							</header>
							<div class="fields">
								<div class="field half">
									<input type="radio" id="kharif" name="season" value="KHARIF" />
									<label for="kharif">June-October (Kharif)</label>
								</div>
								<div class="field half">
									<input type="radio" id="rabi" name="season" value="RABI" />
									<label for="rabi">October-March (Rabi)</label>
								</div>
								<div class="field half">
									<input type="radio" id="autumn" name="season" value="AUTUMN" />
									<label for="autumn">September-October (Autumn)</label>
								</div>
								<div class="field half">
									<input type="radio" id="winter" name="season" value="WINTER" />
									<label for="winter">November-April (Winter)</label>
								</div>
								<div class="field half">
									<input type="radio" id="summer" name="season" value="SUMMER" />
									<label for="summer">March-June (Summer)</label>
								</div>
								<div class="field half">
									<input type="radio" id="wholeyear" name="season" value="WHOLE YEAR" />
									<label for="wholeyear">Whole Year</label>
								</div>

								<!-- Winter, November-April
												Rabi, October-March
												Autumn,  September-October
												Whole Year, Jan-Dec
												Summer, March-June
												Kharif, June-October -->

							</div>
							<hr class="hr hr-1">
							<button class = "btnStyle" type="button" name="loadBtn" id="loadBtn" value="Load Properties" onclick="load_properties()">Load Properties</button>							
							<hr class="hr hr-1">	
							<header>
								<h3 class="inputcategory">Soil Properties</h3>
							</header>
							<div id="Properties" class="fields">
								<div class="field third">
									<label for="nitrogen">Nitrogen (%)</label>
									<input type="text" name="nitrogen" id="nitrogen" value="" placeholder="N Quantity (%)" required />
								</div>
								<div class="field third">
									<label for="phosphorus">Phosphorus (%)</label>
									<input type="text" name="phosphorus" id="phosphorus" value=""
										placeholder="P Quantity (%)" required />
								</div>
								<div class="field third">
									<label for="potassium">Potassium (%)</label>
									<input type="text" name="potassium" id="potassium" value="" placeholder="K Quantity (%)" required />
								</div>
								<div class="field half">
									<label for="organiccarbon">Organic Carbon (%)</label>
									<input type="text" name="organiccarbon" id="organiccarbon" value=""
										placeholder="OC Quantity (%)" required />
								</div>
							</div>


							<hr class="hr hr-1">
							<header>
								<h3 class="inputcategory">pH Value</h3>
							</header>
							<div class="fields">
								<div class="field half">
									<label for="ph_acidic">Acidic (%)</label>
									<input type="text" name="ph_acidic" id="ph_acidic" value=""
										placeholder="ph Level-Acidic (%)" required />
								</div>
								<div class="field half">
									<label for="ph_neutral">Neutral (%)</label>
									<input type="text" name="ph_neutral" id="ph_neutral" value=""
										placeholder="ph Level-Neutral (%)" required />
								</div>
								<div class="field half">
									<label for="ph_basic">Basic (%)</label>
									<input type="text" name="ph_basic" id="ph_basic" value=""
										placeholder="ph Level-Basic (%)" required />
								</div>
							</div>
							<hr class="hr hr-1">
							<header>
								<h3 class="inputcategory">Environment Properties</h3>
							</header>
							<div class="fields">
								<div class="field half">
									<label for="rainfall">Rainfall (mm/Day)</label>
									<input type="text" name="rainfall" id="rainfall" value="" placeholder="Rainfall (mm/Day"
										required />
								</div>
								<div class="field half">
									<label for="temperature">Temperature (Kelvin)</label>
									<input type="text" name="temperature" id="temperature" value=""
										placeholder="Temperature (Kelvin)" required />
								</div>
							</div>

							<button class = "btnStyle predictbtn"  type="submit" name="submitBtn" id="submit" value="Predict Crop" onclick="load_properties()">Predict</button>							
						</form>
					</div>
				</section>
			</article>
		</div>

		<!-- scroll button --> 
		<section id="explore" class="demo scrolling">
			<a href="#landingpage"><span></span></a>
		</section>
	</div>

	<section id="landingpage" class="demo scrolling">
		<div id="flex-container">
			<div>
				<!-- Intro -->
				<article id="tiles">
					<h2 >Namaste!</h2>
					<h4>Welcome to Farm Right.</h4>
					<span class="image"><img src="{{ url_for('static', filename='images/hello.jpg') }}"
							alt="" /></span>
					<p>FarmRight is an aid to the backbone of Economic Development of our country, the <b>Farmers of India.</b> FarmRight untangles the major issues faced by farmers to reduce the hardships they face:</p>
					<ul>
						<li>Choose the Right Crop for their land.</li>
						<li>Drastically changing weather and soil affects the health of the crop. </li>
						<li>Get optimal Yield and maximum Profit.</li>
					</ul>
					<p>"If a farmer is rich , then so is the nation."</p>
				</article>
			</div>

			<div>
				<!-- Problems -->
				<article id="tiles">
					<h2>The Enigma</h2>
					<h4>PROBLEMS of the Peasants</h4>
					<span class="image"><img src="{{ url_for('static', filename='images/enigma1.jpg') }}" alt="" /></span>
					<p>Various problems faced by farmers are posing challenges in front of them which hinder the progress of the vast sector. These problems include:</p>
					<ul>
						<li>Lack of knowledge and guidance.</li>
						<li>Gaining maximum profit by choosing right crop.</li>
						<li>Unable to understand the pattern of <i>"Crops Grown"</i> and <i>"Climate Change"</i> through decades.</li>
					</ul>
					<p><i>"Sometimes, Toilsome efforts are wasted! Agriculture involvedExpected profit and risk are involved."</i></p>
				</article>
			</div>
			<div>
				<!-- Website tour -->
				<article id="tiles">
					<h2 >Tour it!</h2>
					<span class="image"><img src="{{ url_for('static', filename='images/tour.jpg') }}"
						alt="" /></span>
					<p>FarmRight has one-stop-solution to these problems. Get the best crop your land needs easily and efficiently. Checkout: <ul>
						<li>Our crop recommendation system - FarmRight</li>
						<li>ChatBot</li>
						<li>Connect with us! Help us Improve.</li>
					</ul></p>
					<p><i>"To those that work in ACRES, not in HOURS."</i></p>
				</article>
			</div>		
		</div>				
	</section>

	<sector class="">
		<div id="flex-container2">
			<div>
					<!-- Connect -->
				<article id="connect">
					<h2>Connect with us</h2>
					<h4>Help us Improve</h4>
					<p>The comparison of different algorithms based on their performance metrics is used to find the most
						accurate model for crop recommendation. The most accurate model was found to be a Random Forest
						Algorithm with a precision of 82.74%, recall 80.92%, and an F1 score of 78.67%. The model trained
						hence, can be used for giving a list of the recommended crops to the user.</p>
				</article>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">&copy; We bring MAGIC to YOUR Farms. Design: <a href="">Our Research/Code</a>.</p>
		
		<!-- <p class="copyright" href='https://www.freepik.com/vectors/rural-landscape'>Rural landscape vector created by jcomp - www.freepik.com</p>
		<p href='https://www.freepik.com/vectors/peasant'>Peasant vector created by vectorpouch - www.freepik.com</p> -->
		<!-- <a href='https://www.freepik.com/vectors/banner-people'>Banner people vector created by pikisuperstar - www.freepik.com</a>	-->
	</footer>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
	<script>
		function load_properties() {
			stateElem = document.getElementById("state")
			state = stateElem.value
			districtElem = document.getElementById("district")
			district = districtElem.value
			season = document.querySelector('input[name="season"]:checked').value;

			// read csv file SoilDB.csv
			fetch("{{ url_for('static', filename='js/Soil_DB.json') }}")
				.then(response => {
					return response.json();
				})
				.then(jsondata => {
					all_districts = jsondata[state]
					var k;
					for (k = 0; k < all_districts.length; ++k) {
						if (all_districts[k].District == district) {
							soil_properties = all_districts[k]
							n = soil_properties.N
							oc = soil_properties.OC
							p = soil_properties.P
							k = soil_properties.K
							acidic = soil_properties.ACIDIC
							neutral = soil_properties.NEUTRAL
							basic = soil_properties.BASIC
							document.getElementById("nitrogen").defaultValue = n
							document.getElementById("phosphorus").defaultValue = p
							document.getElementById("potassium").defaultValue = k
							document.getElementById("organiccarbon").defaultValue = oc
							document.getElementById("ph_acidic").defaultValue = acidic
							document.getElementById("ph_neutral").defaultValue = neutral
							document.getElementById("ph_basic").defaultValue = basic

							break;
						}
					}
				});
			// select row for given state and district
		}
	</script>
</body>

</html>