<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./././static/css/main.css">
    <title>Document</title>
</head>
<body>
    
								<!-- Table -->
                                <section>
                                    <header>
                                        <h3>Crop Recommentation</h3>
                                    </header>
                                    <div class="header">
                                        <h4>The Best Crops for your farm!</h4>
                                        <div class="table-wrapper">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Crop Name</th>
                                                        <th>Production in Tons per hectare</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Item 1</td>
                                                        <td>Ante turpis integer aliquet porttitor.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 2</td>
                                                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                                        <td>19.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 3</td>
                                                        <td> Morbi faucibus arcu accumsan lorem.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 4</td>
                                                        <td>Vitae integer tempus condimentum.</td>
                                                        <td>19.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 5</td>
                                                        <td>Ante turpis integer aliquet porttitor.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td>100.00</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </section>
</body>
</html>